<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Training\SliderWidget\Model\ResourceModel\Slider\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">sliderwidget_slider</argument>
            <argument name="resourceModel" xsi:type="string">Training\SliderWidget\Model\ResourceModel\Slider</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="slider_listing_data_source" xsi:type="string">Training\SliderWidget\Model\ResourceModel\Slider\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Training\SliderWidget\Model\ResourceModel\Banner\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">sliderwidget_banner</argument>
            <argument name="resourceModel" xsi:type="string">Training\SliderWidget\Model\ResourceModel\Banner</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="banner_listing_data_source" xsi:type="string">Training\SliderWidget\Model\ResourceModel\Banner\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Training\SliderWidget\Banner\Upload" type="Training\SliderWidget\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">sliderwidget/tmp</argument>
            <argument name="basePath" xsi:type="string">sliderwidget</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Training\SliderWidget\Controller\Adminhtml\Slider\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Training\SliderWidget\BannerUpload</argument>
        </arguments>
    </type>
</config>