<style type="text/css">
    #baybanbua_term p{
        border: 1px solid #cccccc;
        font-style: italic;
        padding: 10px;
    }
</style>
<div id="baybanbua_term">
    <p>I confirm that I give BayBanBua company permission to deliver my items bought at Très Bien.
        If any of my items are lost, broken or malfunctioned during shipping period,
        I will take full responsibility and will not sue either BayBanBua or Très Bienor Mr. Khue Nguyen Quang.</p>
    <input type="checkbox" id="baybanbua_term_checkbox"> I agree
    <br/>
</div>