<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../Core/etc/config.xsd">
    <default>
        <footerlinks>
            <general>
                <enable_in_frontend>1</enable_in_frontend>
            </general>
        </footerlinks>
    </default>
</config>