<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Created by smart on 10/4/2016.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_onepage_controller_success_action">
        <observer name="set_bbb_code" instance="Training\BBBShipping\Model\Observer\SetBayBanBuaCode" />
    </event>
</config>