<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Created by smart on 10/4/2016.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="bbb_code" xsi:type="string">sales_order.bbb_code</item>
            </argument>
        </arguments>
    </virtualType>
</config>