<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="simpleaffiliate" translate="label" sortOrder="30" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <label>Simple Affiliate</label>
            <tab>training</tab>
            <resource>Training_SimpleAffiliate::config_simpleaffiliate</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enable_in_frontend" translate="label" type="select" sortOrder="1"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable in frontend.</comment>
                </field>
            </group>
        </section>
    </system>
</config>